BODY {
    margin: 0;
    background: #cccccc;
}
DIV {
    /* border: 3px solid #000; */
    font-family: Liberation Sans;
    font-weight: bold;
    color: white;
}
.layout{
    width: 100%;
    height: 100%;
    table-layout: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.layout TD {
    padding: 7px;
    vertical-align: top;
}
.red_column {
    background: #ed1c24;
    width: 33%;
}
.center_column {
    left: 33%;
    width: 34%;
}
.blue_column {
    background: #21409a;
    right: 0;
    width: 33%;
}

.name {
    text-align: left;
    font-size: 500%;
}

.score {
    text-align: center;
    font-size: 2500%;
    margin: 0;
}

.time_div {
    margin-top: 10%;
    background: white;
}
.time {
    color: black;
    text-align: center;
    font-size: 800%;
    margin: 0;
}
.logo {
    background: url(images/logo.jpg) no-repeat center/cover;
    width: 100%;
    height: 60%;
}

.warning_div {
    height: 70px;
}
.warning {
    text-align: center;
}

.warning_image {
    width: 50px;
    height: 50px;
}

.mutual_hit_div {
    background: white;
    height: 70px;
}
.mutual_hit {
    text-align: center;
}

.mutual_hit_image {
    width: 50px;
    height: 50px;
}